<% unless Device.where('loans_name = ? AND loan_date < ?', User.current.id.to_s, Date.today).empty? %>
  <legend>
  <%=l(:legend_exceded_time) %>
  </legend>
  <table class="list">
    <thead>
      <tr>
        <th><%=l(:label_date_of_return) %></th>
        <th><%=l(:label_name) %></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    <% Device.where('loans_name = ? AND loan_date < ?', User.current.id, Date.today).each do |device| %>
      <tr>
        <td><%= device.loan_date%></td>
        <td><%= device.name %></td>
      </tr>
    <% end %>
  </table>
<% end %>