<div class="contextual"><%= link_to 'New Device', new_device_path, :class => 'icon icon-add' %></div>
<h1><%= l(:label_device_list) %></h1>

<% if @devices.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <%= form_tag devices_path, :method => :get do |f| %>
    <%= text_field_tag :search, params[:search], :autocomplete => :off %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
  <table class="list issues">
    <tr>
      <th>#</th>
      <th><%= l(:label_picture)%></th>
      <th><%= l(:label_name)%></th>
      <th><%= l(:label_owner)%></th>
      <th><%= l(:field_date_from)%></th>
      <th><%= l(:field_date_to)%></th>
      <th><%= l(:field_status)%></th>
      <th><%= l(:field_who)%></th>
      <th><%= l(:field_have_to_date)%></th>
      <th><%= l(:label_actions)%></th>
    </tr>

  <% @devices.each do |device| %>
    <tr>
      <td><%= device.id %></td>
      <td><%= image_tag device.picture.url(:thumb) %></td>
      <td><b><%= link_to device.name.truncate(20), device, {:title => device.name } %></b></td>
      <td><%= device.owner.truncate(25) %></td>
      <td><%= device.date_from %></td>
      <td><%= device.date_to %></td>
        <% if device.status == Loan::STATUS[:available] %>
          <td><%= l(:status_returned) %></td>
        <% elsif device.status == Loan::STATUS[:unavailable] %>
        <td><%= l(:status_rented) %></td>
        <% elsif device.status == "Not available yet" %>
        <td><%= l(:status_not_available)%></td>
        <% elsif device.status == "Now Available" %>
        <td><%= l(:status_available)%></td>
        <% else %>
        <td><%= device.status %></td>
        <% end %>
      <td><%= device.loans_name %></td>
      <td><%= device.loan_date %></td>
      <td><%= link_to '', edit_device_path(device), :class => 'icon icon-edit' %> | 
      <%= link_to '', device, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'icon icon-del' %></td>
    </tr>
  <% end %>
  </table>

<br />
<% end %>

<%= will_paginate @devices %>
<div class="contextual"><%= link_to 'New Device', new_device_path, :class => 'icon icon-add' %></div>